{% extends "BaseProfile.html" %}
{% block one %}
<div style="max-width:700px"class="container">


<h1>About</h1>
<hr>
<p>Eazy Crypto is a proprietary market-making firm. <br>
  We add value to the markets in which we participate, by providing liquidity in a full range of financial instruments across multiple asset classes.<br>
   We design and build cutting-edge technology and serve as a leader in the global derivatives marketplace.<br>


We employ an innovative trading strategy that integrates technology with a quantitative automated market-making approach. <br>
 We respond quickly to constantly evolving markets, because our team members – traders, software engineers and quants – work side-by-side in an open, collaborative environment.

This unique approach enables us to successfully leverage our strategies across a multitude of products and global exchanges.<br>
  Our success begins with talented individuals – and is maintained and driven by a unified team effort.</p>
  <br>
<h2>Trading</h2>
<p>

We currently have nine trading teams, each focused on separate asset classes. <br>
  Our trading teams collectively implement our trading strategies, while monitoring the markets to ensure our strategies are effectively reacting to changing market conditions. <br>
  in addition, our traders participate in cross-functional teams, comprising traders, software engineers and quants, to develop new and enhance existing trading strategies.<br>
  These teams work to solve hard problems by leveraging technology and thinking innovatively.</p>
<p>
Eazy Crypto's asset-classes include:
<table style="width:800px;">
  <tr>
    <td>Bitcoin</td>
    <td>Ethereum</td>
    <td>Ripple</td>
  </tr>
  <tr>
    <td>Lite Coin</td>
    <td>Dash</td>
    <td>Ethereum Classic</td>
  </tr>
  <tr>
    <td>Bitcoin SV</td>
    <td>EOS</td>
    <td>Tron</td>
  </tr>

</table>
</p>
<br>
<h2>Technology</h2>
<p>
Technology is a driving force of our business; we make ongoing capital investments to ensure our employees have the tools they need to excel. <br>
Eazy Crypto uses proprietary software and analytic systems, developed in-house, to provide liquidity and identify trading opportunities.<br>

We credit our technological success to our unique work environment, which eliminates the traditional divide between idea makers and programmers and technology implementers.<br>
This highly collaborative atmosphere allows us to efficiently and effectively integrate technology and trading to achieve success.
</p>


<h2>Quantitative Research</h2>


<p>At Eazy Crypto, quantitative research is the foundation for our trading strategies.<br>
  Our quants develop mathematical models, based on historical data, to represent markets and behavioral patterns.<br>
  These models serve as road-maps for our pricing strategies, market decisions and risk management.<br>

Our quants are experts in their field: 50% have a master’s degree, 20% have PhDs. 75% have industry experience and 40% have 25+ years of experience.
</p>
<h2>Culture</h2>
<h4>Vision: A vital partner to the world’s capital markets.</h4>
<p>
Eazy Crypto emphasizes that we want to work together with exchanges and trading venues, and as markets evolve provide liquidity directly to end users.<br>
 We want to do it in such a way that we are seen as a Vital Partner.<br></p>
 <h4>Mission: Driving market efficiency through relentless innovation.</h4>
<p>Eazy Crypto believes Market Efficiency is what the financial markets are all about. <br>
  We know the intersection of technology and financial markets have made markets incredibly efficient.<br>
  We recognize we need to innovate and deliver faster than our competition.<br>
   We need to be relentless in how we improve and how we compete.</p>
   <h4>Guiding Principles</h4>
   <p>


Our Guiding Principles are the way we believe we should operate as a firm. <br>

    <strong>Excellence:</strong> We demand excellence. We ask the hard questions, dig deeper, and strive to continually improve ourselves and our firm. <br>
    <strong>Integrity:</strong> We do what is right, every time. We will be ethical and honest in all interactions. <br>
    <strong>Collaboration:</strong> We solve big problems. We must innovate daily and work together in order to bring results. We are only as strong as our weakest link. <br>
    <strong>Respect:</strong> We treat everyone with respect. We hold ourselves and our colleagues accountable to a high standard. <br>

</p>
</div>
{% endblock %}
