{% extends "base.html" %}
{% block nav %}
<nav style="padding:0;margin:0;" class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
        <a style="font-size:120%;text-align:center;opacity:70%" class="nav-item nav-link" href="/login">Login</a>
  </nav>

{% endblock %}

{% block desktop %}
<div style="padding:bottom:500px;text-align:center"class="container">
  <h4>Account has been created.</h4>
  <p>You can login now</p>
</div>


{% endblock %}
{% block mobile %}
<div style="padding:bottom:500px;text-align:center"class="container">
  <h4>Account has been created.</h4>
  <p>You can login now</p>
</div>


{% endblock %}
