<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Contact</title>
  </head>
  <body style='background-size:1600px 1000px;background-image:url({{url_for('static', filename='img/EazyCrypto7.jpg')}})'>

    <div style="font-family: 'Roboto Slab', serif;font-size:100%;padding-top:0px;" class="container">
      <div style="border:solid 1px;padding-bottom:50px;padding-top:40px;background-color:white;border-color:blue" class="container">

        <h1>Looking for Help?</h1>
        <p>
        At EazyCrypto, we are always here to assist and guide you, doing all we can to help you succeed. <br>
        Our client support team is available to assist you 24 hours a day, 5 days a week.<br>
        Please e-mail questions, comments, or suggestions regarding trading on the EazyCrypto trading platform to:
         support@eazycrypto.live</p>

        <br>

        <img style="max-width:500px;" src="{{url_for('static', filename='img/map.jpg')}}" alt="">
        <p>
        Canary Wharf, E14 5AA, London,
        United Kingdom
        </p>
        <br>
        <br>
        <h6>
        EazyCrypto limited is authorised and regulated by the UK Financial Conduct Authority
        (FRN 524217) with its registered and trading office at Level 37, One Canada Square,
         Canary Wharf, E14 5AA, London, United Kingdom.
        </h6>
      </div>
    </div>






  </body>

</html>
