{% extends "BaseProfile.html" %}
{% block one %}
    <div style="text-align:center;" class="container">


      <h1>Donate</h1>

      <hr>
      <h6>Thank you, we accept Bitcoin donations. <br>
    
      Hey {{ my_name }},<br> 
      Account email adress: {{ my_email }}
      </p>

      <br>

      <h6><strong>Use this adress for the Deposit :  14L2PvRsAys8tKS8nihT5kderEvDi5M2PK</strong></h6>
      <a href="bitcoin:14L2PvRsAys8tKS8nihT5kderEvDi5M2PK">Bitcoin link</a>
      <h6><strong>or scan the barcode:</strong></h6>

      <br>
        <img style="max-width:200px;" src="{{url_for('static', filename='img/wallet.jpg')}}" alt="">
        <br>
        <br>



      <form  action="/deposit" method="POST">

          <div class="row">
            <div class="col">
            </div>
            <div class="col">

              <div class="form-group">
                <button  style='text-align:center;width:50%;background-color:gray;' type="submit" class="btn btn-primary">Submit</button>
              </div>

            </div>
            <div class="col">
            </div>
          </div>

          </form>

      <br>


    </div>



{% endblock %}
