{% extends "BaseProfile.html" %}
{% block one %}
<!-- <div style="max-width:700px;"class="container"> -->
<div style="max-width:700px;"class="container">


<h1>Education</h1>
<hr>
<h2>Crypto vs Banking System</h2>
<p style="width:70%;">Eleven years ago, Bitcoin changed the world, becoming the first
   cryptocurrency to permit secure and cheap peer-to-peer transactions without intermediaries.
   Over the years, blockchain has become known as the technology that brought us
   Bitcoin and is often still associated largely with the crypto universe,
   despite its other qualities. Let’s explain the difference between crypto vs banking systems.

   We have covered various uses of blockchain from public to private sector and focused less on
  Bitcoin and other cryptocurrencies.
   However, today we aim to look at the Cryptoverse in the context of the traditional
   banking system it has been disrupting.

<h2>Traditional Money vs Crypto Currency</h2>
<p style="width:70%;">We shall start by establishing the main differences between
  traditional fiat money (euros, dollars, pounds, etc.) and crypto (bitcoin, Ether, etc.).
   The main difference would be that crypto is a decentralized and global digital currency, or, in other words,
   outside the control of the banks and not backed by a central government.
   As a result, cryptocurrency is immune to the old ways of government control and interference.

   Otherwise, there is no fundamental difference. Both fiat currency and cryptocurrency can be called money or currency
   .
   Both, in their essence, are mediums of exchange that are used to store and transfer value.
   Cryptocurrency, as well as fiat currency, can be used to purchase goods and services.
   Both have their value governed by supply, demand, work, scarcity, and other economic factors.</p>
   <br>
   <br>



<img style="max-width:500px;align:center;" src="{{url_for('static', filename='img/academy/cvscrypto.jpg')}}" alt="">
<br>
<br>
<h2>Advantages of Decentralized Financial System</h2>
<p style="width:70%;">
The main advantage would be crypto’s ability to function and operate without
a single point of failure which hackers could target.
 Another vantage point is that as most of the cryptos are based on
  a P2P settlement system and are fully operational around the clock on holidays and weekends.


The financial freedom and independence that cryptocurrencies bring to
 the table are very useful to businesses and individuals
operating in regions wherein government entities control banks and financial institutions.

We could also say that using and trading crypto rises the financial
 awareness of the consumers as they and only they have access to the funds and full control over them.
 No one is going to refund any transactions or recover user accounts once the private key is lost.</p>

<h2>Regulations: Empowering or Restricting Crypto?</h2>

<p style="width:70%;">As we said above, the fact that cryptocurrencies exist outside
  the banking system and its regulations
   has resulted in many users considering it the more convenient way of doing transactions.
    The costs are lower, there is no need for a middleman, service is available and
     functioning 24/7, the supply is fixed, crypto aligns better with ideological purposes — these are some of the
      reasons people prefer crypto transactions over traditional bank transfers.

However, recently, the regulators seem to be catching up with the rapid developments of the Cryptoverse.
 The inter-governmental Financial Action Task Force’s forthcoming know-your-customer
  (KYC) compliance standards or the European Union’s forthcoming
  AMLD5 anti-money laundering rules offer a vision of an all-encompassing global system
  for cryptocurrency transactions in which no individual user is unaccounted for.

So, on the one hand, there are those who perceive the rise of such regulations
as an abominable surveillance system that contravenes the censorship-resistant principles upon which
 bitcoin was built.
 On the other hand, there are also those who, despite all the negativity surrounding the topic,
  consider this an opportunity to bridge the gap between traditional banking and crypto
  to revolutionize the whole financial system.

Only time will show if these new regulations will help crypto to become more
mainstream or rather help the banks to regain their standing.</p>


<h2>Merging Banking and Crypto?</h2>

<p style="width:70%;">Even if the near future doesn’t hold promises of merged banking and crypto systems,
   it has become obvious that while cryptocurrencies have to adapt to the new rules and regulations,
    the banks have to learn to play the new game. Some of the more traditional
    operational methods need to be ditched and as an institution,
     they have to adopt a more fluid role.
     Maybe using blockchain technology in conducting their present business would
     help the banks to keep up and modernize their operational models.
</p>

<h2>Fintech in Emerging Markets</h2>

<p style="width:70%;">The way mobile phones have changed consumer behavior and how people access the
   internet is also the reason why in the table above they differentiate between the developed
    and developing countries and speak about Fintech 3.5 when it comes to the latter.
    As of today, the countries with the highest Fintech usage are China (69%) and India (52%).
    China, India and other emerging markets never had time to develop Western
    levels of physical banking infrastructure,
    which has left them more open to new solutions.
    In the case of China, the fintech penetration is well above the average
    global adoption (33%) as well as that of the average adoption across emerging markets (46%).</p>


</div>
{% endblock %}
