{% extends "base.html" %}
{% block nav %}
<nav  style="padding:0;margin:0;" class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
  <a style="font-size:120%;text-align:center;opacity:70%" class="nav-item nav-link" href="/profile">Go back</a>
  </nav>

{% endblock %}

{% block desktop %}
<div style="padding-bottom: 200px;" class="container">
  <h4>Post submitted successfully</h4>
  <a href="/profile">profile</a>
</div>

{% endblock %}
{% block mobile %}
<div style="padding-bottom: 200px;" class="container">
  <h4>Post submitted successfully</h4>
  <a href="/profile">profile</a>
</div>
{% endblock %}
