{% extends "base.html" %}
{% block nav %}
<nav style="padding:0;margin:0;" class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
        <a style="font-size:120%;text-align:center;opacity:70%" class="nav-item nav-link" href="/">Go back</a>
  </nav>
{% endblock %}


{% block desktop %}
<h3 style='text-align:center;'><strong>New Password</strong></h3>
<hr>
{% if message %}
<p style="opacity:90%;text-align:center;" class="message"><strong>{{ message }}</strong></p>
{% endif %}

<form style='text-align:center;' method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
    </div>
</form>

{% endblock %}
{% block mobile %}
<h3 style='text-align:center;'><strong>New Password</strong></h3>
<hr>
{% if message %}
<p style="opacity:90%;text-align:center;" class="message"><strong>{{ message }}</strong></p>
{% endif %}
<form style='text-align:center;' method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
    </div>
</form>
{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
