
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <title>Dashboard</title>
  </head>
<!-- <body style='background-size:1600px 1000px;background-image:url({{url_for('static', filename='img/EazyCrypto7.jpg')}})'> -->
<body style="background-color: azure;">
 
  <div style="padding-top:5px;"class="sidebar-container">
    <div class="sidebar-logo">
      <a style="color:white;"href="/">Tshma</a>
    </div>
    <ul class="sidebar-navigation">
      <li>
        <a href="/education">news</a>
      </li>

      <li>
        <a href="/deposit">
          <i class="fa fa-users" aria-hidden="true"></i> Donate
        </a>

      </li>
      <li>
        <a href="/about">
          <i class="fa fa-info-circle" aria-hidden="true"></i> About
        </a>
      </li>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>
  </div>




<div style="font-family: 'Roboto Slab', serif;font-size:100%;padding-top:0px;padding-left:200px;padding-bottom:0px;" class="container">
  <div style="border:solid 1px;padding-bottom:30px;padding-top:40px;background-color:white;border-color:#2574A9;padding-right:20px;padding-left:20px;" class="container">

      <div  class="row">
        <div style="width:35%;"class="cointaner">
 
         <div class="row">

                <div class="col">



                    <div style="border:solid 0.1px;border-color:black;text-align:center;"  class="table-responsive">
                      <table  style="margin:0px;padding-bottom:0px" class="table">
                        <thead>
                          <!-- <h3 style="padding:5px">TRADING HISTORY</h3> -->

                          <tr>
                            <h3 style="padding:5px;font-weight:1200;">Points</h3>

                          </tr>
                          <tr>
                            <th style="border:solid 0.2px;border-color:black;text-align:center;padding:5px">Asset</th>
                            <th style="border:solid 0.2px;border-color:black;text-align:center;padding:5px">Position</th>
                            <th style="border:solid 0.2px;border-color:black;text-align:center;padding:5px">Status</th>
                            <th style="border:solid 0.2px;border-color:black;text-align:center;padding:5px">Amount</th>
                            <th style="border:solid 0.2px;border-color:black;text-align:center;padding:5px">Date</th>

                          </tr>



                        </thead>
                        <tbody>
                          {% for trade in tradinghistory %}

                          <tr>
                            <td style="border:solid 0.1px;border-color:black;font-size:90%;padding:1px;">{{trade.asset}}</td>
                            <td style="border:solid 0.1px;border-color:black;font-size:90%;padding:1px;">{{trade.position}}</td>
                            <td style="border:solid 0.1px;border-color:black;font-size:90%;padding:1px;">{{trade.outcome}}</td>
                            <td style="border:solid 0.1px;border-color:black;font-size:90%;padding:1px;">{{trade.amount}}$</td>
                            <td style="border:solid 0.1px;border-color:black;font-size:90%;padding:1px;">{{trade.timestamp.strftime('%d.%m.%Y UTC')}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div style="text-align:center;padding-top:5px;"class="container">
                      {% for page_num in old_trades.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                      {% if page_num %}
                        {% if old_trades.page == page_num %}
                          <a class="btn btn-dark mb-4" href="{{ url_for('dashboard', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                          <a class="btn btn-outline-dark mb-4" href="{{ url_for('dashboard', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                      {% else %}
                        ...
                      {% endif %}
                      {% endfor %}

                    </div>


      </div>
      </div>
  </div>
</div>
</body>
</html>
