{% extends "base.html" %}
{% block nav  %}
<nav style="padding:0;margin:0;"class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
        <a style="font-size:120%;text-align:center;opacity:70%" class="nav-item nav-link" href="/">SIGN UP</a>
  </nav>
{% endblock %}

{% block desktop %}
<form class="form-signin" style='text-align:center;' action="/login" method="POST">
  <h3 style="" >LOGIN</h3>
  {% if message %}
  <p style="opacity:90%;"class="message"><strong>{{ message }}</strong></p>
  {% endif %}


    {{ form.hidden_tag() }}
  <div style="" class="form-group">
    {{ wtf.form_field(form.username) }}
  </div>

  <div style="" class="form-group">

    {{ wtf.form_field(form.password) }}

  </div>
  <div style="" class="form-group">

    {{ wtf.form_field(form.remember) }}

  </div>

  <div class="form-group">
  <button class="btn btn-md btn-primary btn-block" type="submit"><strong>LOGIN</strong></button>
</div>
<div class="form-group">
  <p>
    <a style="font-size:90%;color:rgb(0, 0, 0);text-align:center;" href="{{ url_for('reset_request')}}"><strong>Forgot password</strong></a>
    </p>
</div>


</form>
{% endblock %}
{% block mobile %}
<form class="form-signin" style='text-align:center;' action="/login" method="POST">
  <h3 style="" >Login</h3>
  {% if message %}
  <p style="opacity:90%;"class="message"><strong>{{ message }}</strong></p>
  {% endif %}


    {{ form.hidden_tag() }}
  <div style="" class="form-group">
    {{ wtf.form_field(form.username) }}
  </div>

  <div style="" class="form-group">

    {{ wtf.form_field(form.password) }}

  </div>
  <div style="" class="form-group">

    {{ wtf.form_field(form.remember) }}

  </div>

  <div class="form-group">
  <button class="btn btn-md btn-primary btn-block" type="submit"><strong>LOGIN</strong></button>
</div>
<div class="form-group">
  <p>
    <a style="font-size:90%;color:rgb(0, 0, 0);text-align:center;" href="{{ url_for('reset_request')}}"><strong>Forgot password</strong></a>
    </p>
</div>


</form>
{% endblock %}
