{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Login</title>
  </head>

  <body style='background-image:url({{url_for('static', filename='img/EazyCrypto7.jpg')}});background-size:1600px 1000px;text-align:center;background-position: relative ;'>
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="/">EC Investments</a>
            <a style="font-size:120%;color:gray;text-align:center;" class="nav-item nav-link" href="/">Signup</a>
      </nav>
    <div style="font-family: 'Roboto Slab', serif;"  class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <h1 style='text-align:center;padding-top: 100px;color:white'><strong>Members Area</strong></h1>
          <hr>
            {% if message %}
            <p style="color:white;"class="message"><strong>{{ message }}</strong></p>
            {% endif %}

            <form style='text-align:center;display: inline-block;border:solid 0.1px;border-radius:25px;padding:15px;border-color:#2574A9;background-color:white;' class="form-signin" method="POST" action="/login">

              {{ form.hidden_tag() }}
              {{ wtf.form_field(form.username) }}
              {{ wtf.form_field(form.password) }}
              {{ wtf.form_field(form.remember) }}
              <button style='text-align:center;width:100%;background-color:gray' class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>


            </form>
            <p>
            <a style="font-size:90%;color:white;text-align:center;" href="{{ url_for('reset_request')}}"><strong>Forgot password</strong></a>
            </p>

        </div>
        <div class="col">

        </div>
      </div>
    </div>






  </body>

</html>
