{% extends "base.html" %}
{% block nav  %}
<script type="text/javascript">
  window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
</script>
<nav style="padding:0;margin:0;"class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
  <a style="font-size:120%;text-align:center;opacity:70%" class="nav-item nav-link" href="/">Go back</a>
  </nav>
{% endblock %}

{% block desktop %}
     <p style="padding: 0;font-size:110%;margin:0;text-align:center;">Hey {{ username }}</p> 
     <p style="padding: 0;font-size:90%;opacity:60%;text-align:center;margin:0;">Posts: {{ num_of_posts }}</p>   
     <p style="padding: 0;font-size:90%;opacity:60%;text-align:center;margin:0;">Last Post: {{ last_login }}</p>
     <a style="opcaity:30%" href="/logout">logout</a>
     <hr>
     <!-- NEW POST -->
     <p style="opacity: 60%;text-align:center;padding:0px;margin:0"><strong>New Post</strong></p>
     <form class="form-signin" action="/profile" method="POST">
     <div style="padding-bottom:5px;"clas="form-group">
      <textarea class ="form-control"name="content" id=""content"" cols="30" rows="5"></textarea>
    </div>
   
     <div clas="form-group">
       <button style="width:100%;padding:0;margin;0"class="btn btn-sm btn-primary btn" type="submit">Submit</button>
      </div>
     
     </form> 
     <hr>
     <!-- POSTS -->
     <div >
      {% for post in Posts %}
      <br>
      <div style="border:solid 1px gray;border-radius:25px;padding: 15px; "class="container">
      <p style="padding-bottom:0;margin-bottom:0;padding-top:10px;" >{{ post.author}}</p>
      <p style="padding-top:0;margin-top:0;opacity:40%;font-size: 80%;">{{ post.timestamp.strftime('%H:%M %d-%H-%y') }}</p>
      <hr>
      <p >{{ post.content }}</p>
      

      </div> 
      <br>
      
      {% endfor %}


     </div>

{% endblock %}
{% block mobile %}
<p style="padding: 0;font-size:110%;margin:0;text-align:center;">Hey {{ username }}</p> 
     <p style="padding: 0;font-size:90%;opacity:60%;text-align:center;margin:0;">Posts: {{ num_of_posts }}</p>   
     <p style="padding: 0;font-size:90%;opacity:60%;text-align:center;margin:0;">Last Post: {{ last_login }}</p>
     <hr>
     <!-- NEW POST -->
     <p style="opacity: 60%;text-align:center;padding:0px;margin:0"><strong>New Post</strong></p>
     <form class="form-signin" action="/profile" method="POST">
     <div style="padding-bottom:5px;"clas="form-group">
      <textarea class ="form-control"name="content" id=""content"" cols="30" rows="5"></textarea>
    </div>
   
     <div clas="form-group">
       <button style="width:100%;padding:0;margin;0"class="btn btn-sm btn-primary btn" type="submit">Submit</button>
      </div>
     
     </form> 
     <hr>
     <!-- POSTS -->
     <div >
      {% for post in Posts %}
      <br>
      <div style="border:solid 1px gray;border-radius:25px;padding: 15px; "class="container">
      <p style="padding-bottom:0;margin-bottom:0;padding-top:10px;" >{{ post.author}}</p>
      <p style="padding-top:0;margin-top:0;opacity:40%;font-size: 80%;">{{ post.timestamp.strftime('%H:%M %d-%H-%y') }}</p>
      <hr>
      <p >{{ post.content }}</p>
      

      </div> 
      <br>
      
      {% endfor %}


     </div>

{% endblock %}
